@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$font-family: "Raleway", sans-serif;
$font-family1: "Lato", sans-serif;
$color_1:rgba(40, 43, 34, 1);
$color_2:rgba(174, 123, 60, 1);
.nav{
    padding: 20px 20px;
    display: grid;
    grid-template-columns: auto auto auto auto ;
    align-items:center;
    column-gap: 143px;
}
.nav_center{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 40px;
    a{
        li{
            font-size: 16px;
            font-family: $font-family;
            font-weight: 500;
            color: $color_1;
            transition: all .5s ease;
        }
        li:hover{
            color:$color_2;
        }
    }
}
.nav_right{
display: grid;
grid-template-columns: auto auto ;
column-gap:68px;
align-items:center;
.contact_left{
    display: grid;
    grid-template-columns: auto auto ;
    align-items:flex-start;
    gap: 25px;
}
.contact_right{
    display: grid;
    grid-template-columns: auto auto ;
    align-items:center;
    gap: 7px;
    a{
        font-family: $font-family1;
        font-weight: 600;
        transition: all .5s ease;
        color:rgba(61, 74, 57, 1);
    }
    a:hover{
        color:rgb(72, 137, 52);
    }
}
}
.icon{
    display: none;
} 

.corusel{
    img{
        width: 100%;
        margin: 0px auto;
        position: relative;
        z-index: -1;
    }
    .img-1{
        position: absolute;
        left: 0px;
        z-index: -1;
    }
}
.corusel_card{
    display: flex;
    justify-content: center;
}
.card_text{
    position: absolute;
    top: 120px;
    text-align: center;
    z-index: 2;
    color:rgb(255, 255, 255);

}
.text_1{
    font-family: $font-family1;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 56px;
}
.text_2{
    font-family: $font-family;
    width: 537px;
    color:rgba(255, 255, 255, 0.758);
    line-height: 25px;
    font-weight: 500;
    font-size: 18px;
}
a{
    button{
        cursor: pointer;
        background-color:rgba(174, 123, 60, 1);
        border:none;
        padding: 22px 56px 22px 56px;
        color:#fff;
        font-family: $font-family;
        transition: all .5s ease;
        font-weight: 700;
        font-size: 18px;
    }
    button:hover{
        background-color:rgba(61, 74, 57, 1);
    }
}


.card_button{
    width: 1200px;
    z-index: 10;
    margin-top: -100px;
    .border{
        border-top: 2px solid rgba(174, 168, 168, 0.634);
       
    }
}
.card_box{
    display: flex;
    justify-content: space-between;
}

.card_box_left{
   cursor: pointer;
    img{
        width: 20px;
        margin: 20px 10px;
    }

}
.card_box_right{
    display: flex;
    font-family: $font-family1;
    font-size: 16px;
    gap: 15px;
    align-items:center;
    .cart_1{
        border:1px solid rgba(174, 168, 168, 0.634);
        border-radius:50px;
        padding: 10px 15px;
        color:rgba(174, 168, 168, 0.634);
    }
    .cart_2{
        border:1px solid rgba(174, 168, 168, 0.634);
        border-radius:50px;
        padding: 10px 15px;
        color:rgba(174, 168, 168, 0.634);
    }
    .cart_3{
        border:1px solid rgb(255, 255, 255);
        border-radius:50px;
        padding: 10px 15px;
        color:rgb(255, 255, 255);
    }
}


@media screen and (max-width: 1440px){
    
    .nav{
        padding: 20px 0px;
        column-gap: 40px;
    }
    .nav_center{
        column-gap: 30px;
    }
    .contact_left{
        gap: 18px;
    }

}
@media screen and (max-width: 1268px){


    .card_text{
        top: 80px;
      
    }
    .text_1{
        font-size: 46px;
        margin-bottom: -10px;
    }
    .text_2{
        font-family: $font-family;
        width: 537px;
        color:rgba(255, 255, 255, 0.758);
        line-height: 25px;
        font-weight: 500;
        font-size: 18px;
    }
    a{
        button{
            cursor: pointer;
            background-color:rgba(174, 123, 60, 1);
            border:none;
            padding: 22px 56px 22px 56px;
            color:#fff;
            font-family: $font-family;
            transition: all .5s ease;
            font-weight: 700;
            font-size: 18px;
        }
        button:hover{
            background-color:#000000b3;
        }
    }
    









}
@media screen and (max-width: 988px){
    .icon{
        display: block;
    }
    .nav_center{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: -500px;
    }
    .contact_left{
        gap: 18px;
    }
    .close{
        display: none;
    }
    .card_text{
        top: 90px;
    }
    .text_1{
        font-size: 36px;
    }
    .text_2{
        font-size: 15px;
    }
    a{
        button{
            padding: 15px 30px 15px 30px;
            font-size: 10;
        }
    }
}
@media screen and (max-width: 885px){
    .text_2{
        font-size: 15px;
        width: 300px;
    }
    .corusel{
        img{
            height: 495px;
        }
    }
    .card_box{
        margin-top: -212px;
    }
}
@media screen and (max-width: 805px){
    .icon{
        display: block;
    }

    .nav_right{
        gap: 20px;
   }
}
@media screen and (max-width: 700px){
    .icon{
        display: block;
    }
    .nav{
        
    .nav_center{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto ;
        gap: 0px;
        margin-top: -500px;
    }
    .nav_right{
        gap:-30px;
        
    }
}
    
}
@media screen and (max-width: 686px){
    .nav_right{
     margin-top: -500px;
    }
}
@media screen and (max-width: 686px){
    .nav_center{
        display: none;
       }
    .nav_right{
       display: grid;
       grid-template-columns: auto;
       }
}
@media screen and (max-width: 586px){
    .nav_center{
        display: none;
       }
    .nav_right{
        display: none;
       }
       .card_box_left{
        display: none;
       }
       .card_box_right{
        margin-top: 240px;
        text-align: center;
       }
}
